body{
    font-family: 'Poppins', sans-serif;
}
#head{
    font-size: 50px;
    color:rgba(7, 7, 7, 0.707);
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    display: flex;
    margin: 5%;
}
#p-massage{
    font-size: 140%;
    margin-bottom: 10%;
    text-align: justify;
    padding: 20px;
    color:rgba(106, 98, 98, 0.707);
}
.btn{
    text-decoration: none;
    padding: 25px;
    color: white;
    border-radius: 50px;
    background-image: linear-gradient(tomato,orange);
}
/*---------About Me Section-----*/
#about-me{
    text-align: center;
    font-size: 40px;
    color: rgba(11, 6, 6, 0.351);
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.mid_section{
    margin-bottom: 100px;
    text-align: justify;
    padding: 10px;
}
 /*-------Recipies section-----*/ 

.recipies-head{
    text-align: center;
    font-size: 5vh;
    color: rgba(11, 6, 6, 0.351);
}
.recip_p{
    text-align: center;
    padding: 25px;
}

.flexable{
    display: flex;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: end;
  }
