body{
    font-family: 'Poppins', sans-serif;
}
#head{
    font-size: 50px;
    color:rgba(7, 7, 7, 0.707);
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    display: flex;
    margin: 5%;
}
#p-massage{
    font-size: 140%;
    margin-bottom: 10%;
    text-align: justify;
    padding: 20px;
    color:rgba(106, 98, 98, 0.707);
}
.btn{
    text-decoration: none;
    padding: 25px;
    color: white;
    border-radius: 50px;
    background-image: linear-gradient(tomato,orange);
}
/*---------About Me Section-----*/
#about-me{
    text-align: center;
    font-size: 40px;
    color: rgba(11, 6, 6, 0.351);
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.mid_section{
    margin-bottom: 100px;
    text-align: justify;
    padding: 10px;
}
 /*-------Recipies section-----*/ 

.recipies-head{
    text-align: center;
    font-size: 5vh;
    color: rgba(11, 6, 6, 0.351);
}
.recip_p{
    text-align: center;
    padding: 25px;
}

/*.flexable{
    display: flex;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
}*/

.card-group{
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 15px 10px 35px gray;
}

.card_container{
    display: flex;

}
.card-item img{
    width: 100%;
}

/*--------Before Footer part---*/

.optional{
    border: 1% solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    margin: 5px 5%;
}
.optional-box{
    text-align: center;
    width: 70%;
    margin-left: 2%;
    padding-top: 5px%;

}

/*-----Footer part----*/

#foot_head{
    color:rgba(249, 163, 2, 0.905);
}
#foot_header2{
    color:rgba(216, 205, 205, 0.411);
}

.foot_header{
    text-align: center;
    font-size: 25px;
}
.footer_massage{
    text-align: center;
    color: white;
}

.footer{
    background-color: black;
    margin-bottom: 2%;
}

