body{
    font-family: 'Poppins', sans-serif;
}
#head{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    display: flex;
    margin: 5%;
}
#p-massage{
    font-size: 140%;
    margin-bottom: 10%;
    text-align: justify;
    padding: 20px;
}
.btn{
    text-decoration: none;
    padding: 25px;
    color: white;
    border-radius: 50px;
    background-image: linear-gradient(tomato,orange);
}
/*---------About Me Section-----*/
#about-me{
    text-align: center;
    font-size: 40px;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
